.child-vaccine-info-wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  white-space: pre-wrap;
  .timeline{
    flex-grow: 1;
  }
  .vaccine-info-fragment{
    flex-shrink: 1;
    flex-grow: 3;
    font-size: 1.4rem;
  }
  font-family: 'Poppins', cursive;
  color: #0B0754;
  padding-top: 30px;
  font-size: 13px;
  background-color: #ebf0ff;

}

.children-page{
  max-width: 90%;
  margin: auto;
  box-sizing: border-box;
}

.child-info-buttons{
  position: absolute;
  display: inline-block;
  right: 2rem;
  top: 0;
}
.title{
  font-family: 'Poppins', cursive;
}
.icons{
  font-size: 30px;
  color: #0B0754;
  padding: 2px;
}

.mark-as-done-btn{
  position: absolute;
  top: 0;
  right: 0;
}