@import "src/assets/style/variables";
.update-button{
  padding: 10px;
}

.gender-dropdown{
  position: relative;
  display: block;
  margin: 10px 0 0 0;
  border: 1px solid $border_color !important;

  width: 100%;
  height: 40px;
  font-size: 15px;
  color: $input_font_color;
  padding: 10px;
}

.tabs{
  font-family: 'Poppins', cursive;
  font-size: 18px;
  color: #0B0754;
  background-color: #BFD2FA;
}
