.background-search{
  background-image: url('../../assets/images/illustration_-_search.png');
  background-repeat: no-repeat;
  background-position: right;
  height:calc(100vh - 34rem);
  background-size: contain;
  margin-right: 35px;
  margin-top: 38px;
  padding: 2% 5%;
}

.search-bar{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px ;
  padding-right: 86%;
}

.vaccine-card{
  padding-top: 2%;
  padding-right: 45%;
}

.no-vaccine-message {
  display: flex;
  font-family: 'Poppins', cursive;
  color: #0B0754;
  font-size: 30px;
  justify-content: center;
}

.text-header{
  font-family: 'DM Serif Display', cursive;
  font-size: 30px;
}

.card-header-elements-click{
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 10px;
}

.abbreviation{
  font-size: 15px;
  font-family: 'Poppins', cursive;
}

.label{
  font-size: 17px;
}

.link{
  font-size: 12px;
}