
.search-bar{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px ;
}

.vaccine-card{
  padding: 2% 5%;
}

.no-vaccine-message {
  display: flex;
  font-family: 'Poppins', cursive;
  color: #0B0754;
  font-size: 30px;
  justify-content: center;
}

