.search-bar{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px ;
}

.patient-card{
  padding: 20px 50px;
}

.no-patients-message {
  display: flex;
  font-family: 'Poppins', cursive;
  color: #0B0754;
  font-size: 30px;
  justify-content: center;
}

