@import "../../assets/style/variables";

.med-button {
  outline: none;
  border: none;
  padding: $padding_md;
  cursor: pointer;
  color: $color_light;
  transition: color $button-transition-time ease-in-out,
    background-color $button-transition-time ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;

  &__flexible {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    filter: brightness(0.9);
  }

  &__rounded {
    border-radius: $border_radius;
  }

  &__rounded_full {
    border-radius: 9999rem;

    &:has(:only-child):not(:has(span)){
      &.med-button__small{
        padding: $padding_sm_x;
      }

      &.med-button__medium{
        padding: $padding_md_x;
      }

      &.med-button__large{
        padding: $padding_lg_x;
      }
    }
  }

  &__loading {
    cursor: progress;
    &:disabled {
      cursor: progress;
    }
  }

  svg {
    &:has(+span){
      margin-right: 0.3rem;
    }
  }

  span + svg {
    margin-left: 0.3rem;
  }

  &__small {
    font-size: $font_size_sm;
    padding: $padding_sm;
  }

  &__large {
    font-size: $font_size_lg;
    padding: $padding_lg;
  }

  &__center {
    justify-content: center;
  }

  &__between {
    justify-content: space-between;
  }

  &__around {
    justify-content: space-around;
  }

  &__evenly {
    justify-content: space-evenly;
  }

  &__plain {
    color: $color_primary;
    background-color: transparent;

    &:focus {
      box-shadow: 0 0 0 0.2rem $color_primary_focus;
    }
  }

  &__primary {
    background-color: $color_primary;

    &:focus {
      box-shadow: 0 0 0 0.2rem $color_primary_focus;
    }

    &:hover:not(:disabled) {
      background-color: $color_primary_hover;
    }

    &.med-button__outlined {
      color: $color_primary;
      background-color: transparent;
      outline: 1px solid $color_primary;

      &:hover:not(:disabled) {
        background-color: $color_primary;
        outline: none;
        color: $color_light;
      }
    }

  }

  &__secondary {
    background-color: $color_secondary;

    &:focus {
      box-shadow: 0 0 0 0.2rem $color_secondary_focus;
    }

    &:hover:not(:disabled) {
      background-color: $color_secondary_hover;
    }

    &.med-button__outlined {
      color: $color_secondary;
      background-color: transparent;
      outline: 1px solid $color_secondary;

      &:hover:not(:disabled) {
        background-color: $color_secondary;
        outline: none;
        color: $color_light;
      }
    }

  }

  &__success {
    background-color: $color_success;

    &:focus {
      box-shadow: 0 0 0 0.2rem $color_success_focus;
    }

    &:hover:not(:disabled) {
      background-color: $color_success_hover;
    }

    &.med-button__outlined {
      color: $color_success;
      background-color: transparent;
      outline: 1px solid $color_success;

      &:hover:not(:disabled) {
        background-color: $color_success;
        outline: none;
        color: $color_light;
      }
    }

  }

  &__warning {
    background-color: $color_warning;
    color: $color_dark;

    &:focus {
      box-shadow: 0 0 0 0.2rem $color_warning_focus;
    }

    &:hover:not(:disabled) {
      background-color: $color_warning_hover;
    }

    &.med-button__outlined {
      color: $color_warning;
      background-color: transparent;
      outline: 1px solid $color_warning;

      &:hover:not(:disabled) {
        background-color: $color_warning;
        outline: none;
        color: $color_dark;
      }
    }

  }

  &__danger {
    background-color: $color_danger;

    &:focus {
      box-shadow: 0 0 0 0.2rem $color_danger_focus;
    }

    &:hover:not(:disabled) {
      background-color: $color_danger_hover;
    }

    &.med-button__outlined {
      color: $color_danger;
      background-color: transparent;
      outline: 1px solid $color_danger;

      &:hover:not(:disabled) {
        background-color: $color_danger;
        outline: none;
        color: $color_light;
      }
    }

  }

  &__info {
    background-color: $color_info;
    color: $color_dark;

    &:focus {
      box-shadow: 0 0 0 0.2rem $color_info_focus;
    }

    &:hover:not(:disabled) {
      background-color: $color_info_hover;
    }

    &.med-button__outlined {
      color: $color_info;
      background-color: transparent;
      outline: 1px solid $color_info;

      &:hover:not(:disabled) {
        background-color: $color_info;
        outline: none;
        color: $color_dark;
      }
    }
  }
}
