.background{
  background-image: url('../../assets/images/ilustratie_-_semnul_intrebarii.png');
  background-repeat: no-repeat;
  background-position: right;
  height:calc(100vh - 6rem);
  background-size: contain;
  margin-right: 2%;
    background-attachment: fixed;
  margin-top: 38px;
}

.question{
  cursor: pointer;
  font-family: 'DM Serif Display', cursive;
  font-size: 27px;
  color: #E75756;
  padding-left: 5%;
  white-space: pre-wrap;
  margin-bottom: 1%;
  display: inline-block;
}

.answer{
  font-family: 'Poppins', cursive;
  font-size: 17px;
  color: #0B0754;
  padding-left: 7%;
  white-space: pre-wrap;
  width: 40%;
  margin-bottom: 1%;
}

@media only screen and (max-width: 1200px) {
  .background{
  }
  
  .questions-wrapper{
    width: 80%;
    height: calc(100vh - 6rem);
    overflow: auto;
    padding: 0 10%;
      &::-webkit-scrollbar {
    display: none;
  }
    background-color: rgba(255,255,255,0.8);
      .answer{
        width: 100%;
      }
  }
}